.btn {
  color: #F3E390;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: #000;
  transition: 0.2s;
}

.btn:hover {
  color: #000;
  transform: translate(-0.25rem,-0.25rem);
  background: #F3E390;
  box-shadow: 0.25rem 0.25rem #000;
}

.btn:active {
  transform: translate(0);
  box-shadow: none;
}